version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    groups:
      prod:
        dependency-type: production
        update-types:
          - minor
          - patch
      dev:
        dependency-type: development
        update-types:
          - minor
          - patch
    commit-message:
      prefix: chore
      include: scope

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
      include: scope

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      prod:
        dependency-type: production
        update-types:
          - minor
          - patch
      dev:
        dependency-type: development
        update-types:
          - minor
          - patch
    commit-message:
      prefix: chore
      include: scope
