name: Fuzz Parser

on:
  push:
    branches: [main]
    paths:
      - src/scanner.c
  pull_request:
    paths:
      - src/scanner.c
  workflow_dispatch:

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  fuzz:
    env:
      TREE_SITTER_ABI_VERSION: 14
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run fuzzer
        uses: tree-sitter/fuzz-action@6a1dcff00aefd038ba418bd63732a9add4901266 # v4
